<!-- Navigation -->
<nav class="navbar navbar-default navbar-shrink">
  <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar" id="bs-example-navbar-1">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <h1 class="site-title"><a href="/blog">{{site.blog-title}}</a></h1>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <h5><a href="/">Back to Website</a></h5>
              </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
