<section id="services" class="content-section">

  <div class="container">

    <h1>matchHeight</h1>

    <hgroup>
      <h2>Services</h2>
      <h3>With our services we want to facilitate the adoption of the NDC standard for the air travel distribution industry</h3>
    </hgroup>

    <div class="row">
      <ul class="services-list">
        {% for service in site.services %}
        <li class="col-sm-4 services-list__item">
          <i class="fa {{ service.icon }}"></i>
          <h4 class="services-list__heading">{{ service.name }}</h4>
          <p class="services-list__description" data-match-height="services-list-description">{{ service.desc }}</p>
          <ul class="services-list__features">
            {% for feature in service.features %}
            {{% feature %}}
            <li class="services-list__features__item">{{ feature }}</li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="btn-toolbar">
      <a href="#" class="btn btn-primary btn-lg">Download Product Deck</a>
    </div>

  </div>

</section>
