<footer class="site-footer">
  <div class="container">
    <div class="footerGrid">
      <div class="footerGridItem">
        <div class="footerLogo">
          <img src="/img/logo-airgateway-footer.svg" alt="">
          <h5>Enabling the NDC age for travel agencies</h5>
        </div>
        <div class="footerSocial">
          <ul class="list-inline site-footer__social">
            <li>
              <a href="https://github.com/AirGateway">
                <img src="/img/logo-github.svg" alt="AirGateway GitHub">
              </a>
            </li>
            <li>
              <a href="https://twitter.com/AirGateway">
                <img src="/img/logo-twitter.svg" alt="AirGateway Twitter">
              </a>
            </li>
            <li>
              <a href="https://linkedin.com/company/AirGateway">
                <img src="/img/logo-linkedin.svg" alt="AirGateway LinkedIn">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footerGridItem">
        <div class="footerBadges">
          <ul>
            <li>
              <img src="/img/badge-ndc-l4.png" alt="">
            </li>
            <li>
              <img src="/img/badge-psi-dss.png" alt="">
            </li>
          </ul>
        </div>
      </div>
      <div class="footerBlurb">
        <div class="footerCopy">Copyright &copy; 2020 <a href="/">{{ site.company }}</a></div>
        <div class="footerLinks">
          <ul>
            <li>
              <a href="/impressum.html" class="" data-toggle="modal" data-target="#modal-body"
                data-whatever="@impressum">Impressum</a>
            </li>
            <li>
              <a href="/datenschutzerklarung.html" class="" data-toggle="modal" data-target="#modal-body"
                data-whatever="@datenschutzerklarung">Datenschutzerklarung</a>
            </li>
            <li>
              <a href="https://status.airgateway.com/" class="" target="new">Status</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="/js/siema.min.js"></script>
<script>
  const mySiema = new Siema({
    perPage: {
      480: 2,
      768: 3,
      1024: 4,
    },
    startIndex: 0,
    duration: 320,
    easing: 'cubic-bezier(.14,.27,.32,.84)',
    loop: true,
  });
  // listen for keydown event
  setInterval(() => mySiema.next(), 3000)
</script>