<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.head-title }}{% endif %} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/favicons/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicons/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/img/favicons/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/img/favicons/manifest.json" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ "/img/favicons/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#E63946">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:site_name" content="AirGateway">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="AirGateway">
  <meta property="og:description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.head-title }}{% endif %}">
  <meta property="og:image" itemprop="image" content="{{ "/img/airgateway-og-image.png" | prepend: site.baseurl | prepend: site.url }}">

  <meta name="twitter:card" content="photo">
  <meta name="twitter:site" content="@airgtwy">
  <meta name="twitter:title" content="AirGateway">
  <meta name="twitter:image" content="{{ "/img/airgateway-og-image.png" | prepend: site.baseurl | prepend: site.url }}">
  <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
