[class^='i-sprite'] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font: 0/0;
  color: transparent;
  background-image: url('/img/sprite.png');
  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    background-image: url('/img/sprite@2x.png');
    background-size: 259px 51px;
  }
}

.i-sprite-logo-airgateway {
  background-position: 0px 0px;
  width: 259px; height: 51px;
}
