/* Arrows */

$slick-dot-color: white !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-size: 10px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 0.75 !default;
$slick-opacity-not-active: 0.50 !default;

.slick-arrow{
  z-index: 20;
  @include absolute(top 50%);
  display: block;
  @include size(70px, 100%);
  padding: 20px 0;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  //@include transform(translate(0, -50%));
  background-color: transparent;
  border: none;
  outline: none;
  &:hover,
  &:focus {
    outline: none;
    background: transparent;
    color: transparent;
    &:before {
      opacity: $slick-opacity-on-hover;
    }
  }
  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }
  &:before {
    content: "";
    position: absolute;
    @include size(16px, 25px);
    //background: transparent image-url($sprite) no-repeat;
    opacity: $slick-opacity-default;
    @include transition(all 0.2s ease-out);
  }
  /*@media #{$mobile-down}{
    display: none!important;
  }*/
}

.slick-prev {
  left: 0;
  [dir="rtl"] & {
    left: auto;
    right: 0;
  }
  &:before {
    left: 20px;
    background-position: 0 -450px;
    [dir="rtl"] & {
      right: 20px;
      background-position: -50px -450px;
    }
  }
}

.slick-next {
  right: 0;
  [dir="rtl"] & {
    left: 0;
    right: auto;
  }
  &:before {
    right: 20px;
    background-position: -50px -450px;
    [dir="rtl"] & {
      left: 20px;
      background-position: 0 -450px;
    }
  }
}
