<!DOCTYPE html>
<html>

  {% include shared/head.html %}

  <body id="page-top">

    {% include shared/header.html %}
    {% include home/jumbotron.html %}
    <main class="site-content site-content--stuck">
      {% include home/airlines.html %}
      {% include home/products.html %}
      {% include home/partners.html %}
      {% include home/about.html %}
      {% include home/blog_posts.html %}
      {% include home/contact.html %}
    </main>
    {% include shared/footer.html %}

    <!-- Large modal -->
    <div id="modal-body" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <h1>Loading content...</h1>
        </div>
      </div>
    </div>

    {% include js.html %}
    {% include trackers.html %}
    <!-- SmallChat support -->
    <script src="https://embed.small.chat/T0ZM936LUGA4L388SE.js" async></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>


  </body>
</html>
