<!DOCTYPE html>
<html>

  {% include shared/head.html %}

  <body id="page-top">

    {% include shared/header.html %}
    <main class="site-content">
      {{ content }}
    </main>
    {% include shared/footer.html %}
    
    {% include js.html %}
    {% include trackers.html %}
    <!-- SmallChat support -->
    <script src="https://embed.small.chat/T0ZM936LUGA4L388SE.js" async></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>


  </body>
</html>
