<section id="customers" class="content-section">

  <div class="container">
    <hgroup>
      <h2>Customers</h2>
    </hgroup>

    <div class="customers">
      <div class="customers-stats">
        <div class="customers-stats-item">
          <div class="customers-stats-count">
            32
          </div>
          <div class="customers-stats-label">
            Onboarding Agencies
          </div>
        </div>
        <div class="customers-stats-item">
          <div class="customers-stats-count">
            177
          </div>
          <div class="customers-stats-label">
            Onboarded Agencies
          </div>
        </div>
        <div class="customers-stats-item"><div class="customers-stats-count">
          1863
        </div>
        <div class="customers-stats-label">
          Agent Accounts
        </div></div>
      </div>
    </div>
  </div>

</section>