<section id="customers" class="content-section">

  <div class="container">
    <hgroup>
      <h2>Customers</h2>
    </hgroup>

    <div class="customers">
      <div class="siema">
        {% for customer in site.data.customers.customers %}
        <div class="customersItem">
          <a href="{{ customer.link }}">
          <div class="customersLogo">
            {% if customer.link != '' %}
            <a href="{{ customer.link }}" class="read-more customersLink"><img src="/img/customers/{{ customer.logo }}"
                alt="{{ customer.name }} logo" width="250" /></a>
            {% endif %}
          </div>
          <h3>
            {% if customer.link != '' %}
            <a href="{{ customer.link }}" class="read-more customersLink">{{ customer.name }}</a> <span class="ccode">({{ customer.countrycode }})</span>
            {% endif %}
          </h3>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</section>