<section id="partners" class="content-section">

  <div class="container">

    <hgroup>
      <h2>Partners</h2>
    </hgroup>

    <div class="partners">
      <ul class="partnersGrid">
        {% for partner in site.data.partners.partners %}
        <li class="partnersGridItem" data-match-height="partners-list-item">
          <span class="partners-helper"></span>
          <div class="partnersLogo">
            {% if partner.link != '' %}
            <a href="{{ partner.link }}" class="read-more partnersLink"><img src="/img/partners/{{ partner.logo }}"
                alt="{{ partner.name }} logo" width="250" /></a>
            {% endif %}
          </div>
          <h3>
            {% if partner.link != '' %}
            <a href="{{ partner.link }}" class="read-more partnersLink">{{ partner.name }}</a>
            {% endif %}
          </h3>
          <h5>{{ partner.category }}</h5>

        </li>
        {% endfor %}
      </ul>
    </div>

  </div>

</section>