<section id="products" class="content-section">

  <div class="container">

    <hgroup>
      <h2>Products</h2>
      <h3>Our products are built to enable travel agents on the adoption of the IATA NDC Standard</h3>
    </hgroup>

    <div class="row">
      <ul class="products-list">
        {% for product in site.data.products.products %}
        <li class="col-sm-6 products-list__item">
          <i class="{{ product.icon }} products-list__icon"></i>
          <h4 class="products-list__heading">{{ product.name }}</h4>
          <p class="products-list__description" data-match-height="products-list-description">{{ product.desc }}</p>
          <ul class="products-list__features">
            {% for feature in product.features %}
            {{% feature %}}
            <li class="products-list__features__item">{{ feature }}</li>
            {% endfor %}
          </ul>
          <ul class="products-list__links">
            <h3>Related Links</h3>
            {% for link in product.links %}
            {{% link %}}
            <li class="products-list__links__item"><a target="blank" href="{{ link.url }}">{{ link.text }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>

    <section id="bookingpad" class="content-section main-product">
        <div class="btn-toolbar">
            <h2>Bookingpad, our Web-based agent desktop solution for NDC</h2>
            <br/>
            <p>
              <img src="/img/bookingpad-screenshot.png" alt="Bookingpad Travel Agent Desktop" width="100%">
            </p>
            <p>
                We have recently launched our agent desktop front-end solution for booking NDC content<br/> with the largest number of NDC-enabled airlines integrated in one single platform.
            </p>
            <br/>
            <a href="https://bookingpad.info/" class="btn btn-primary btn-lg" target="_new">Sign-up for Bookingpad</a>
          </div>
    </section>

  </div>

</section>
