#airlines{
  padding: 20px 0;
  background-color: $blue-light;
}

.airlines-list{
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  img{
    @extend .img-responsive;
    @include transition(all 0.25s ease-out);
    margin: 0 auto;
    &:hover,
    &:focus{
      opacity: 1;
    }
  }
}
