.posts-list{
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  &__item{
    position: relative;
    margin-bottom: 50px;
    &:before{
      content: "";
      @include absolute(top 0 left 0);
      @include size(1px, 100%);
      background-color: $gray-lighter;
      margin-left: -0.5px;
    }
    &:nth-child(3n+1){
      clear: left;
      &:before{
        display: none;
      }
    }
  }
}

.post{
  &__metadata{
    margin-bottom: 10px;
    font-size: $font-size-small;
    font-weight: 500;
  }
  &__author{
    &:after{
      content: " | ";
      margin: 0 5px;
    }
  }
  &__cover{
    display: block;
    margin-bottom: 15px;
    text-align: center;
    height: 200px;

    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    img{
      max-width: calc(100% - 5px);
      vertical-align: middle;
      max-height: 200px;
    }
  }
  &__title{
    font-weight: 600 !important;
  }
  &__comments{
    margin: 100px 0;
  }
  .posts-list &{
    &__title{
      margin: 0 0 20px;
      line-height: 1.475;
      a{
        color: $gray-darker;
      }
    }
  }
  .post-entry &{
    &__cover{
      margin-bottom: 70px;
    }
    &__title{
      @extend .h2;
      margin-bottom: 60px;
      line-height: 1.3;
    }
    &__body{
      font-size: $font-size-large;
      p, ul, ol, table{
        margin: 25px 0;
      }
      table{
        margin-bottom: 50px;
        @extend .table;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
