#customers {
  padding-bottom: 80px;
}
.customers-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  img {
    @extend .img-responsive;
    @include transition(all 0.25s ease-out);
    margin: 0 auto;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.customers {
  &-stats {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;

    @media #{$desktop-up} {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    &-item {
      display: flex;
      flex-direction: column;
      padding-bottom: 4rem;

      &:last-child {
        border-right: none;
      }

      @media #{$desktop-up} {
        border-right: 1px solid #eee;
      }
    }

    &-count {
      color: #c00005;
      font-size: 7.2rem;
      font-weight: 500;
      line-height: 1.2;
    }

    &-label {
      color: #25252f;
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
