.navbar{
  min-height: 50px;
  border-bottom: 0;
  .blog-page &,
  &-shrink{
    background-color: $gray-darkest;
  }
}

.navbar-nav{
  margin: 0;
  padding-left: 0;
  >li{
    margin: 15px 0;
    >a{
      padding: 0;
      font-size: $font-size-large;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  @media (min-width: $grid-float-breakpoint) {
    float: right;
    >li{
      >a{
        padding: 0 ($navbar-padding-horizontal / 2);
        margin-top: 72px;
      }
      &:last-child{
        >a{
          padding-right: 0;
        }
      }
    }
  }
}

.navbar-collapse{
  @media #{$desktop-down}{
    background-color: $gray-darkest;
  }
}

.navbar-header{
  height: $navbar-height-sm;
  @media (min-width: $grid-float-breakpoint) {
    height: $navbar-height;
  }
}

.navbar-brand{
  height: auto;
  margin: 10px 0 0 50px;
  padding: 0;
  line-height: $navbar-height-sm;
  @media (min-width: $grid-float-breakpoint) {
    margin: 0 !important;
    line-height: $navbar-height;
  }
}

.navbar-toggle{
  position: relative;
  @include size(24px, 18px);
  margin: 16px 50px 0 0;
  padding: 0;
  border: 0;
  @include rotate(0deg);
  @include transition(all 0.5s ease-out);
  .icon-bar{
    position: absolute;
    @include size(100%, 3px);
    background-color: black;
    @include transition(all 0.25s ease-out);
    + .icon-bar{
      margin: 0;
    }
    &:nth-child(1){
      top: -2px;
      left: 3px;
      @include rotate(45deg);
      @include transform-origin(0);
    }
    &:nth-child(2){
      left: -100%;
      width: 0;
      opacity: 0;
      @include transform-origin(0);
    }
    &:nth-child(3){
      top: 15px; left: 3px;
      @include rotate(-45deg);
      @include transform-origin(0);
    }
  }
  &.collapsed{
    .icon-bar{
      left: 0;
      @include rotate(0deg);
      &:nth-child(1){
        top: 0;
      }
      &:nth-child(2){
        top: 7px;
        width: 100%;
        opacity: 1;
      }
      &:nth-child(3){
        top: 14px;
      }
    }
  }
}
