body{
  @include improve-text-rendering();
}

.site-content{
  padding: $content-padding-top-sm 0 $content-padding-bottom-sm;
  &--stuck{
    padding: 0!important;
  }
  @media #{$desktop-up}{
    padding: $content-padding-top 0 $content-padding-bottom;
  }
}

.container-fluid{
  position: relative;
  max-width: 1600px;
}

//== Sticky footer

/*body {
  @include display-flex;
  @include flex-direction(column);
  height: 100vh;
}
.site-header,
.site-footer {
  @include flex(none);
}
.site-content {
  @include flex(1 0 auto);
  width: 100%;
}*/

.list-inline{
  margin-right: -5px;
}
